<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeleo.player" >
    <application
        android:allowBackup="true"
        android:label="@string/player_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".PlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>